<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testScript.TestCase9"/>
      <class name="org.testing.testScript.TestCase10"/>
      <class name="org.testing.testScript.TestCase4"/>
      <class name="org.testing.testScript.TestCase3"/>
      <class name="org.testing.testScript.TestCase2"/>
      <class name="org.testing.testScript.TestCase1"/>
      <class name="org.testing.testScript.TestCase8"/>
      <class name="org.testing.testScript.TestCase7"/>
      <class name="org.testing.testScript.TestCase6"/>
      <class name="org.testing.testScript.TestCase5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
